{% extends "base.html" %}

{% block content %}

<div style="margin-left: 22px; margin-right: 25px;">
	<h1> About </h1>
    <p>
        This app is a tool made to predict the style of a sculpture given an image of it. For each image, the app returns a plot containing the probability that the sculpture belongs to each of the 12 styles. For those interested the methodology and supported styles can be found in the <a href="methods">methodology section</a>. 
    </p>

    <h3>About Me </h3>

    <p>
    	My name is Harry Shomer and this project was done in fulfillment of my senior thesis at CUNY Brooklyn College. If you are interested in more of my work you can check out my <a href="http://harryshomer.github.io">blog </a> or my <a href="https://github.com/HarryShomer">github page</a>.
    </p>

    <p>
        The code for this web app can be found
        <a href="https://github.com/HarryShomer/sculpture-style-site">here</a>. 
    </p>
</div>


{% endblock %}