<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--
        <meta property="og:site_name" content="Sculpture Style Classifier"/>
        <meta property="og:image" content="/static/thinker.jpg">
        <meta property="og:url" content="http://sculpture-app.harryshomer.com/">
        -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Get javascript bullshit for bootstrap-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <title>Sculpture Style Classification App</title>
    </head>

    <body style="background-color: #96ceb4;">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 shadow-sm" style="background-color: #ffeead">

          <h5 class="my-0 mr-md-auto font-weight-normal">Sculpture Style Classifier</h5>
          <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="/about">About</a>
            <a class="p-2 text-dark" href="/methods">Methodology</a>
          </nav>
        </div>

        {% block content %}{% endblock %}
    </body>

</html>