{% extends "base.html" %}

{% block content %}

    <!-- Filepond shit -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>


    <div id="line_div" class="row">
        
        <div id="sculpture_div" class="column" style="margin-left: 50px; width: 500px; float: left;
        padding-right: 50px;  padding-top: 30px;">
            <h6>
                Input & Upload (using the top right button) your sculpture
                (supported styles listed <a href="#">here</a>):
            </h6>
            <input type="file" name="sculpt_file">
        </div>

        <div id="plot_div" class="column"  style="padding-top: 30px"> 
            <h6 style="padding-left: 245px">
                Results:
            </h6>
        </div>

    </div>


    <!-- Include way to select and upload an image 
    <div id="form_div" style="margin-left: 100px; margin-right: 100px;">
        <p>
            Please input an image of a sculpture to be classified by art style. The art styles supported can be
            found in the methodology <a href="#">here</a>.
        </p>

        <form name="sculpture_form" id="file-form" action="/upload" enctype="multipart/form-data">
              <input id="fileButton" type="file" name="file">
              </br> </br>
              <input type="submit" id="submitButton" value="Upload">
        </form>

    </div>

    </br> </br>

    <div id="sculpture_div" style="margin-left: 100px;">
    </div>

    -->


    <script src="/static/home.js"></script>
{% endblock %}