{% extends "base.html" %}

{% block content %}

    <!-- Filepond shit -->
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>


    <div id="line_div" class="row">
        
        <div id="sculpture_div" class="column" style="margin-left: 50px; width: 500px; float: left;
        padding-right: 50px;  padding-top: 30px;">
            <h6>
                <!--Input & Upload (using the top right button) your sculpture -->
                Input your sculpture (supported styles listed <a href="methods">here</a>):
            </h6>
            <input type="file" name="sculpt_file">
        </div>

        <div id="plot_div" class="column"  style="padding-top: 30px"> 
            <h5 style="padding-left: 245px">
                Results:
            </h5>
        </div>

    </div>

    <script src="/static/home.js"></script>
{% endblock %}