<div>
        <!--
        <p style="margin-left: 22px; margin-right: 25px;">
            This app is a tool made to predict the style of a sculpture given an image of it. As of right now the
            model supports only 12 different sculpture styles (Note: The word 'style' is used a little loosely here. Some
            are more correctly classified as periods or movements). Those styles include: Medieval, Baroque, Early
            Renaissance, High Renaissance, Mannerism (Late Renaissance), Baroque, NeoClassicism, Rococo, Romanticism,
            Impressionism, Realism, and Minimalism. For more details on the methodology please look here (include link!!).
            The code for the project can be found here (include link).
        </p>
        -->
</div>